/**
 * AppIndex是整个SPA
 * 除最上方的AppHeaders
 * 把项目的外面框架主要分为5部分, 左右两栏,
 * 左从上到下分为三个部分, 上中下
 * 右从上到下主要分为两个部分, 上下
 */
@import "../../commons/vars";

html,
body {
  margin: 0;
  padding: 0;
  color: @color-light;
}

#AppIndex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#AppHeader {
  position: absolute;
  top: 0%;
  bottom: @app-header-height;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

//StoryLine + PlayerChangements + TimeLine
#LeftWrapper {
  position: absolute;
  top: @app-header-height;
  bottom: 0%;
  left: 0%;
  right: 20%;
  overflow: hidden;
  //background-color: red;

  //StoryLine
  #LeftTopWrapper {
    position: absolute;
    top: 0%;
    bottom: 30%;
    left: 0%;
    right: 0%;
    overflow: scroll;
    //background-color: #0f0;
  }

  //PlayerChangements
  #LeftMiddleWrapper {
    position: absolute;
    top: 70%;
    bottom: 10%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  //TimeLine
  #LeftBottomWrapper {
    position: absolute;
    top: 90%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    background-color: white;
  }
}

//TeamInfo + PlayerInfo
#RightWrapper {
  position: absolute;
  top: @app-header-height;
  bottom: 0%;
  left: 80%;
  right: 0%;
  overflow: hidden;
  background-color: white;

  //TeamInfo
  #RightTopWrapper {
    position: absolute;
    top: 0%;
    bottom: 30%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  //PlayerInfo
  #RightBottomWrapper {
    position: absolute;
    top: 70%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }
}
