<nav id="{{ style.Header }}" class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" id="{{ style.navbarSmallerBrand }}" href="#">NBAVis</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li v-for="item in navs"
                    v-bind:class="{'active': active === item.name }">
                    <a href="/page{{ item.uri }}">
                        {{ item.text }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>