.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.axis .domain {
  fill: #ddd;
  stroke: none;
}

.axis .tick line {
  stroke: #fff;
}

.axis .tick--minor line {
  stroke-opacity: 0.5;
}

.rect {
  fill: steelblue;
}

.axis .axis--x .domain {
  stroke: #fff;
}

.brush .extent {
  stroke: #ddd;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}

.brush .background {
  fill: grey;
  fill-opacity: 0.1;
}

.resize path {
  fill: #666;
  fill-opacity: 0.8;
  stroke: #000;
  stroke-width: 1.5px;
}
